.badge-background-color {
    background-color: #4D967A;
    color: #FFFFF6;
}

.layout-font-color {
    color: #FFFFF6 !important;
}

.layout-dropdown-style {
    background-color: #4D967A;
}

.dropdown-item:hover {
    background-color: #FFFFF6
}

.home-images {
    max-width: 100%;
    height: auto;
    display: block;
}

.home-images-container {
    position: relative;
    display: inline-block;
}

.home-images-text-base {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #482F1D;
    font-size: 2vw;
    background-color: #4D967A;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

.home-images-text-create {
    top: 50%;
}

.home-images-find-text {
    top: 34%;
}

.home-images-text-base:hover {
    color: #990603;
}

.footer-style {
    min-height: 100px;
    background-color: #4D967A;
    color: #FFFFF6;
}

.recipe-photo-styles {
    width: 100%;
    height: 250px;
    border: 3px solid #482F1D;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    object-position: center;
    background-color: #E5C38A;
}

.image-placeholder #uploadedImage {
    width: 100%; /* Ensures the image stretches to the container's width */
    height: 100%; /* Ensures the image stretches to the container's height */
    object-fit: contain; /* Resizes the image to fit within the container while maintaining its aspect ratio */
    object-position: center; /* Aligns the image centrally in the container */
}
.ingredients-table {
    border: 2px solid #482F1D;
}

.details-color {
    color: #212529 !important;
}
