.badge-background-color {
    background-color:blueviolet;
}
.full-width-image {
    width: 100vw;
    height: auto;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
.text-overlay {
    position: absolute;
    top: 0;
    right: 0; 
    color: #05603F;
    padding: 10px;
}
.image-container {
    position: relative;
    width: 100%;
}
