@model E_CookBook.Models.Recipe

@{
    ViewData["Title"] = "Edit";
    string[] TagList = ViewBag.TagList;
    List<IngredientViewModel> existingIngredients = (List<IngredientViewModel>)ViewBag.ExistingIngredients;
}

<h1>Edit</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Add a photo</label>
                <input id="RecipePhoto" name="RecipePhoto" type="file" accept="image/jpeg, image/png, image/gif" class="form-control" onchange="validatePhoto(this)" />
            </div>
            <div class="form-group">
                <label asp-for="CookingTime" class="control-label"></label>
                <input asp-for="CookingTime" class="form-control" />
                <span asp-validation-for="CookingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Portion" class="control-label"></label>
                <input asp-for="Portion" class="form-control" />
                <span asp-validation-for="Portion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructions" class="control-label"></label>
                <textarea asp-for="Instructions" class="form-control"></textarea>
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.Name" class="control-label"></label>
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.Categories">
                    <option value="" disabled>Select an Option</option>
                </select>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceCategory.Name" class="control-label"></label>
                <select asp-for="PriceCategoryID" class="form-control" asp-items="ViewBag.PriceCategories">
                    <option value="" disabled>Select an Option</option>
                </select>
                <span asp-validation-for="PriceCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" hidden />
                <ul class="tag-list" id="taglist"></ul>
            </div>
            <input id="IngredientCount" name="IngredientCount" hidden />
            <table id="ingredientsTable">
                <tr>
                    <th>Quantity</th>
                    <th>Metric</th>
                    <th>Name</th>
                </tr>
            </table>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div class="form-group">
            <input type="text" class="tag-input" placeholder="Add a tag...">
        </div>
        <div class="form-group">
            <button id="addIngrButton" onclick="addIngredientSpecification()">Add Ingredient</button>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    <script>
        var ingredientCount = 0;
        const tagInput = document.querySelector('.tag-input');
        const tagList = document.querySelector('.tag-list');

        document.loaded = afterLoad();

        function afterLoad() {
            manageTags();
            manageIngredients();
        }
        
        // #region Tags
        tagInput.addEventListener('keydown', function (e) {
            if (e.key === 'Enter' && tagInput.value.trim()) {
                addTag(tagInput.value.trim());
                tagInput.value = '';
            }
        });

        function manageTags() {
            var tags = @Html.Raw(JsonConvert.SerializeObject(TagList));
            if (tags != null) {
                for (var i = 0; i < tags.length; i++) {
                    addTag(tags[i]);
                }
            }
        }

        function addTag(text) {
            const tag = document.createElement('li');
            tag.innerText = text;
            tag.className = 'tag';
            tagList.appendChild(tag);
            document.getElementById("Tags").value += (text + "|and|");
        }

        // #endregion
        // #region Ingredients
        function manageIngredients(){
            var existingIngredientsList = @Html.Raw(JsonConvert.SerializeObject(existingIngredients));
            for(var i = 0; i < existingIngredientsList.length; i++){
                addIngredientSpecification();
                loadIngredientValues(existingIngredientsList[i]);
            }
        }

        function loadIngredientValues(existingIngredient) {
            document.getElementById("IngredientName_" + ingredientCount.toString()).value = existingIngredient.IngredientName;
            document.getElementById("Metric_" + ingredientCount.toString()).value = existingIngredient.Metric;
            document.getElementById("MetricName_" + ingredientCount.toString()).value = existingIngredient.MetricName;          
            document.getElementById("SpecIDHidden_" + ingredientCount.toString()).value = existingIngredient.IngredientSpecificationID;
        }

        function addIngredientSpecification() {
            ingredientCount++;
            document.getElementById("IngredientCount").value = ingredientCount;

            var table = document.getElementById("ingredientsTable");
            var newRow = table.insertRow();

            var metricCell = newRow.insertCell(0);
            var metricNameCell = newRow.insertCell(1);
            var nameCell = newRow.insertCell(2);

            // Quantity
            var metricInput = document.createElement("input");
            metricInput.type = "number";
            metricInput.name = "Metric_" + ingredientCount.toString();
            metricInput.id = "Metric_" + ingredientCount.toString();

            // Quantity Metric
            var metricNameInput = document.createElement("input");
            metricNameInput.type = "text";
            metricNameInput.name = "MetricName_" + ingredientCount.toString();
            metricNameInput.id = "MetricName_" + ingredientCount.toString();           

            // Ingredient
            var nameInput = document.createElement("input");
            nameInput.type = "text";
            nameInput.name = "IngredientName_" + ingredientCount.toString();
            nameInput.id = "IngredientName_" + ingredientCount.toString();            

            var specInputHidden = document.createElement("input");
            specInputHidden.type = "hidden";
            specInputHidden.name = "SpecIDHidden_" + ingredientCount.toString();
            specInputHidden.id = "SpecIDHidden_" + ingredientCount.toString();
            specInputHidden.value = "-19";   // default

            // Add inputs to cells
            nameCell.appendChild(nameInput);
            nameCell.appendChild(specInputHidden);
            metricCell.appendChild(metricInput);
            metricNameCell.appendChild(metricNameInput);
        }
        // #endregion

        function validatePhoto(inputElement) {
            const file = inputElement.files[0];
            if (file) {
                const fileType = file['type'];
                const validImageTypes = ['image/jpeg', 'image/png', 'image/gif'];

                if (!validImageTypes.includes(fileType)) {
                    alert('Please upload a valid image.');
                    inputElement.value = '';  // Clear the input
                }
            }
        }

    </script>
