<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-CookBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/cookBookStyle.css" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cropper.min.css" />
    <link rel="icon" type="image/x-icon" href="~/lib/Images/E-CookBookLogo.png">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 fixed-top badge-background-color">
            <div class="container-fluid">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">E-CookBook</a>*@
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/lib/Images/E-CookBookLogo.png" alt="E-CookBook logo" width="75" height="75">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link layout-font-color" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>                                              
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle layout-font-color" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Create a Recipe
                            </a>
                            <ul class="dropdown-menu layout-dropdown-style">
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Recipes" asp-action="Create">Traditionally</a></li>
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="OCR" asp-action="OCR">With OCR</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link layout-font-color" asp-area="" asp-controller="Recipes" asp-action="Index">Browse Recipes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/cropper.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer footer-style">
        <br />
        <div class="container ">
            2023 - E-CookBook
        </div>
    </footer>
</body>
</html>
