<div class="container" style="margin-bottom:250px">
    <h1>
        About E-CookBook
    </h1>
    <br />
    <p>
        E-CookBook is a cooking assistant application, that can be used to store and look for recipes. The main aim of this application is to simplify the process of deciding what to cook and to provide a safe and convenient place to store one's collection of recipes.
    </p>
    <p>
        An interesting feature of E-CookBook is that recipe insertion can be partially done with the help of OCR. In other words, the application is able to extract the text from the marked areas of the photo and then parse the result into the corresponding input on the recipe creation form.
    </p>
    <p>
        The application can also generate a shopping list from the ingredients of a selected recipe. Additionally, it is possible to change the quantities of the ingredients according to the number of people for whom the selected meal is intended for.
    </p>
    <p>
        Feel free to take a look around and see just what E-CookBook is capable of!
    </p>
</div>




