@{
    ViewData["Title"] = "Home Page";
}

<div class="image-container">
    <img src="~/lib/Images/CookbookHomePage_650px.png" alt="E-CookBook logo" class="full-width-image">
    <h1 class="text-overlay">E-CookBook</h1>
</div>



<div class="container text-center">
    <div class="row">
        <div class="col">
            <img src="~/lib/Images/CreateRecipeImage.png" alt="Create Recipe Traditionally" />
        </div>
        <div class="col">
            <img src="~/lib/Images/CreateRecipeOCR.png" alt="Create Recipe with OCR" />
        </div>
        <div class="col">
            Column
        </div>
    </div>
</div>

<div class="text-center">
    <button>
        @Html.ActionLink("Create a Recipe", "Create", "Recipes")
    </button>
    <button>
        @Html.ActionLink("List of Recipes", "Index", "Recipes")
    </button>
    <button>
        @Html.ActionLink("OCR", "OCR", "OCR")
    </button>
    
</div>
