@{
    ViewData["Title"] = "Home Page";
}

<div class="image-container">
    <img src="~/lib/Images/CookbookHomePage_650px.png" alt="E-CookBook logo" class="full-width-image">
    <h1 class="text-overlay">E-CookBook</h1>
</div>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button>
        @Html.ActionLink("Create a Recipe", "Create", "Recipes")

    </button>
    <button>
        @Html.ActionLink("List of Recipes", "Index", "Recipes")
    </button>
    <button>
        @Html.ActionLink("OCR", "OCR", "OCR")
    </button>
    
</div>
